@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Mono:wght@300&display=swap');

body{
    background-color: #f5f6fa !important;
    font-family: 'Poppins', sans-serif !important;
    background-color: #95afc0 !important;
    margin: 0;
    padding: 0;
    position: relative;
}