.playlistItem{
    margin:  30px 0px;
    padding: 30px 20px 30px 20px;
    background-color: #1e272e !important;
    position: relative !important;
}

.playBtn {
    position: absolute;
    font-size: 53px !important;
    top: 24%;
    left: 42%;
    color: white;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.2s !important;
}

.playlistItem:hover .playBtn{
    visibility: visible;
}

.videoThumbnail{
    height: 160px;
    cursor: pointer;
}